# ignore CMake generated, got from:
# https://github.com/github/gitignore/blob/main/CMake.gitignore

_deps
Testing
Makefile
CMakeFiles
CMakeScripts
CMakeCache.txt
CTestTestfile.cmake
CMakeLists.txt.user
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Ignore build directories

build/